# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
executors:
  my-executor:
    docker:
      - image: cimg/node:16.15.0
jobs:
  build:
    executor: my-executor
    steps:
      - checkout
      - run: npm i
      - save_cache:
          key: "npm-packages"
          paths:
            - /src/node_modules
  test:
    executor: my-executor
    steps:
      - checkout
      - restore_cache:
          key: 
            - npm-packages
      - run: npm run test
  analyze:
    - checkout
    - restore_cache:
          key: 
            - npm-packages
    - run: npm run analyze
# Invoke jobs via workflows
workflows:
  say-hello-workflow:
    jobs:
      - build
      - test:
        requires:
          - build
      - analyze:
        requires:
          - test
